/* css reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  border: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {color: unset;}

/* global styles */
body {
	color: white;
	background: black;
	font-family: sans-serif;
	overflow-y: scroll;
	min-height: 10000px;
}

/* element styles */

.nav {
    width: 15em;
}

.container {
	margin: 0 auto;
	max-width: 1080px;
}
.nav-container {
	margin-top: 2.5em;
	float: left;
}

#top-nav,
#gallery {
	float: right;
    margin: 0 auto 2rem auto;
    width: calc(100% - 240px);
    position: relative;
    text-align: center;
}

.nav a {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	margin: .5em 0;
	color: white;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	width: 16em;
}

.nav.socials a span {
	display: inline-block;
    position: absolute;
    left: 50px;
    vertical-align: middle;
}

.nav .support::before,
.nav .support::after,
.nav .social::before {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav .social::before {
	content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    filter: invert(94%) sepia(88%) saturate(4055%) hue-rotate(276deg) brightness(102%) contrast(104%);
    position: relative;
    left: 5px;
}

.nav .support {
	position: relative;
	height: 125px;
	margin: 2em 3em;
}

.nav .support::after {
	content: "";
    position: absolute;
    left: 53px;
    top: 53px;
    width: 30px;
    height: 30px;

    filter: contrast(1);
    background: white;
    border-radius: 20px;
}
.nav .support::before {
	content: "";
    display: block;
    width: 140px;
    height: 140px;
    position: absolute;
    image-rendering: pixelated;

    border: 6px solid white;
}

#top-nav {
	border-bottom: 3px solid #333;
	display: none;
}

#top-nav a {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;

	width: 47%;
	display: inline-block;
	text-align: center;
	padding: 0.5rem 0;
	margin: 0 3px;
}

#top-nav a.active {
	background: #333;
}

#top-nav a:hover {
	background: #444;
}

.thumbnail {
	display: inline-block;
	position: absolute;
	background-color: #888;
	background-repeat: no-repeat;
	margin: 8px;
	width: 150px;
	height: 150px;
}

.thumbnail.active {
	outline: 1px solid #888;
}

.footer {
	background: black;
	font-size: 0.8em;
	position: fixed;
    bottom: 0px;
    left: calc(50vw - 480px);
    width: 13em;
    padding: 8px;
    opacity: 0.5;

    color: white;
    text-align: center;
    transition: opacity 500ms;
}

.footer:hover {
    opacity: 1.0;
}

.nav.mobile,
.footer.mobile {
	display: none;
}

@media screen and (max-width: 1090px) {
	#gallery {
		width: 100%;
		margin: 0 auto;
	}
	#top-nav {
		width: calc(min(100%, 830px));
	    margin: 0 auto 2rem auto;
	}
	.footer.wide {
		display: none;
	}
	.footer.mobile {
		display: block;
		width: 100%;
		opacity: .8;
	    transition: bottom 500ms;
	}
	.nav.hide {
		top: -8em;
	}
	.footer.mobile.hide {
		bottom: -4em;
	}
	.nav.mobile.supports,
	.nav.mobile.socials {
		display: block;
	}
	.nav.desktop.supports,
	.nav.desktop.socials {
		display: none;
	}

}
